BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk_in" SITE "28" ;
LOCATE COMP "led_out" SITE "27" ;
LOCATE COMP "spi_scsn" SITE "16" ;
IOBUF PORT "spi_scsn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_mosi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi_mosi" SITE "17" ;
LOCATE COMP "spi_clk" SITE "9" ;
LOCATE COMP "spi_miso" SITE "10" ;
